{% extends "index.html" %}
{% block index %}
    <h1>Cadastro Itens</h1>
    <div class='cadastro_itens'>
        <a href="/cadastro_itens">
            <div class ="nome_item">
                <input placeholder="Nome" type="text" name="nome">
            </div>
            <div class ="quantidade">
                <input placeholder="Quantidade" type="text" name="quantidade">
            </div>
            <div class ="button">
                <input type="submit" value="Salve">
            </div>
        </a>
    </div>
        






{% endblock %}