
{% extends "index.html" %}
{% block index %}
    <h1>Cadastro</h1>
    <div class="cadastro">
        <div class="Barras_input">
            <a href="/cadastro"></a>
            <form action="">
                <div class ="nome">
                    <input placeholder="Nome" type="text">
                </div>
                <div class ="cep">
                    <input placeholder="CEP" type="text">
                </div>
                <div class ="cpf">
                    <input placeholder="CPF" type="text">
                </div>
                <div class ="endereco">
                    <input placeholder="Endereço" type="text">
                </div>
                <div class ="cartao">
                    <input placeholder="Cartão de crédito" type="text">
                </div>
                <div class ="validade">
                    <input placeholder="Validade" type="text">
                </div>
                <div class ="codigo">
                    <input placeholder="Codigo de segurança" type="text">
                </div>
                <div class ="button">
                    <input type="submit" value="Salve">
                </div>
            </form>
        </div>
    </div>
                

                






{% endblock %}